#Canvas{
    /* width: 800px;
    height: 600px; */
    margin-top: 20px;
    border: 2px solid black;
    background-color: white;
    margin-left: 10px;
}
#size_sel{
    margin-top: 0px;

}
#size_sel_p{
    margin-top: 2px;
    margin-bottom: -15px;
}
.row{
    width: 1100px;
    height: 660px;
    background-color: skyblue;
}
.col1{
    width:820px;
    height: 610px;
    float: left;
}
.col2{
    margin-top: 20px;
    width: 280px;
    height: 610px;
    float: right;
}
.button{
    margin-top:5px;
    background-position: center;
    height: 64px;
    width: 64px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    background-color: skyblue;
}
#brush{
    background-image: url(button/pencil.png);
}
#eraser{
    background-image: url(button/eraser.png);
}
#text_input{
    background-image: url(button/text.png);

}
#triangle{
    background-image: url(button/triangle.png);
}
#rectangle{
    background-image: url(button/square.png);

}
#circle{
    background-image: url(button/circle.png);

}
#redo{
    background-image: url(button/redo.png);

}
#undo{
    background-image: url(button/undo.png);
}
#refresh{
    background-image: url(button/refresh.png);
}
.image-upload{
    margin-top:5px;
    height: 62px;
    width: 62px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
}
.image-download{
    margin-top:5px;
    background-position: center;
    height: 62px;
    width: 62px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    float:inline-end;
}
.du{
    margin-top: 68px;
}
.brush_controll{
    margin-top: 5px;
    height: 80px;
    width: 197px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
}
.color_controll{
    margin-top: -5px;
    height: 80px;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    margin-bottom: -15px;
}
#p1{
    margin-top:5px;
    margin-bottom: 5px;
}